<!DOCTYPE html>
<html>
<head>
  <title>OaiRepository</title>
  <%= stylesheet_link_tag    "oai_repository/application", :media => "all" %>
  <%= javascript_include_tag "oai_repository/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
